#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.main__toggle-wrapper,
form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.main__toggle-wrapper {
  flex-direction: column;
}

form {
  flex-direction: row;
  justify-content: start;
  margin: 1.5rem;
}

button {
  margin: 1rem;
  border: 1px solid white;
}

button:hover {
  background-color: #333333;
}

main button:active {
  background-color: #000000;
}

input {
  line-height: 2rem;
  border: 1px solid white;
  border-radius: 0.25rem;
  font-size: 1.25rem;
}
